<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Review Site</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Game Review Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/games/new">Add Game</a></li>
                <li><%- include('games/_gamesModal') %></li>
                <% if (loggedIn) { %>
                    <li style="float: right;"><a href="/users/<%= currentUser.id %>">Logged in as <%= currentUser.username %></a></li>
                    <li style="float: right;"><a href="/users/logout">Logout</a></li>
                <% } else { %>
                    <li style="float: right;"><a href="/users/login">Login</a></li>
                    <li style="float:right"><a href="/users/new">Register</a></li>
                <% }; %>
            </ul>
        </nav>
    </header>
    <div class="flashes">
        <% if (flashMessages) { %>
            <% if (flashMessages.success) { %>
                <div class="flash flash-success"><%= flashMessages.success %></div>
            <% } else if (flashMessages.error) { %>
                <div class="flash-error"><%= flashMessages.error %></div>
            <% } %>
        <% }; %>
    </div>
    <%- body %>
</body>
<script src="/js/jQuery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/gamereviewApp.js"></script>
</html>
