<h1><%= game.title %></h1>
<table class="game-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= game.title %>
            </td>
            <td>
                <%= game.publisher %>
            </td>
            <td>
                <%= game.genre %>
            </td>
            <td>
                <%= game.releaseDate.toLocaleDateString('fi-FI', { day: 'numeric', month: 'numeric', year: 'numeric' }) %>
            </td>
            <td>
                <% if (game.reviews.length > 0) { %>
                    <%= averageRating.toFixed(2) %>
                <% } else { %>
                    No reviews yet.
                <% } %>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <% if (loggedIn) { %>
        <a href="/games/<%= game.id %>/newReview">Write a review</a>
    <% } else { %>
        <a href="/users/login">Login to write a review</a>
    <% } %>
</div>

<div class="reviews">
    <h3>Reviews</h3>
    <% if (game.reviews.length > 0) { %>
        <ul>
            <% game.reviews.forEach(review => { %>
                <li>
                    <h4><%= review.title %></h4>
                    <p>Rating: <%= review.rating %></p>
                    <p>Review: <%= review.review %></p>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No reviews yet.</p>
    <% } %>
</div>


<div>
    <a href="/games">Back</a>
</div>
<div>
    <a href="/games/<%= game.id %>/edit">Edit</a>
</div>
<div>
    <a href="/games/<%= game.id %>?_method=DELETE" onclick="return confirm('Are you sure you want to delete this user?');">Delete</a>
</div>